.chessboard {
  display: grid;
  margin: 0 auto;
  /*grid-template-columns: repeat(8, auto);*/
  grid-template-columns: repeat(8, 5em);
  grid-template-rows: repeat(8, 5em);
  user-select: none;
}
.field {
  padding: 20px;
  color: #000;
  /*  text-align: center;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.field span {
  margin: auto;
}

.movable {
  box-shadow: 10px 10px 28px 0px rgba(128, 128, 128, 1);
}

.selected {
  border: thick solid red;
}

.even {
  background-color: #fff59d;
}
.odd {
  background-color: #bcaaa4;
}
.color-1 {
  color: red;
}
.color-2 {
  color: blue;
}
/*
.size-1 {
  font-size: large;
}
.size-2 {
  font-size: x-large;
}
.size-3 {
  font-size: xx-large;
}
*/
.direction-0 {
  transform: rotate(0deg);
}
.direction-3 {
  transform: rotate(0deg);
}
.direction-4 {
  transform: rotate(45deg);
}
.direction-5 {
  transform: rotate(90deg);
}
.direction-6 {
  transform: rotate(135deg);
}
.direction-7 {
  transform: rotate(180deg);
}
.direction-8 {
  transform: rotate(225deg);
}
.direction-1 {
  transform: rotate(270deg);
}
.direction-2 {
  transform: rotate(295deg);
}
